body {
  height: 100%;
}

h2 {
  text-align: center;
  padding-top: 1.25rem;
}

.container {
  width: 40%;
  background-color: #8de2cd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 0.3125rem;
}

label {
  width: 7rem;
}

input {
  width: 12rem;
}

ul {
  background-color: white;
  border-radius: 0.3125rem;
  width: 30rem;
  font-size: 0.85rem;
}

p:has(#id_password2_helptext) {
  display: flex;
  flex-direction: column;
}

p:has(#id_password2) label,
p:has(#id_password2) input {
  display: inline-block;
  width: auto;
  margin-bottom: 0.5rem;
  grid-area: "label";
}

p:has(#id_password2) small {
  margin-top: 0.5rem;
  display: block;
}

.btn,
.btn:hover,
.btn:active {
  background-color: #fce26d;
  border: none;
  color: black;
  box-shadow: 0 0 0.3125rem 0 rgba(0, 0, 0, 0.2);
}

.btn:hover,
.btn:active {
  font-weight: bold;
}

.submit {
  display: block;
  margin: 0 auto;
}

.switch-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 2rem;
}

hr {
  width: 100%;
  margin-top: 2rem;
}
.switch-button p {
  margin: 0;
}
/* Header */
.custom-navbar {
  background-color: #8de2cd;
}

.navbar-brand {
  font-weight: bold;
  color: black;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #8de2cd;
}

.footer-left {
  flex: 1;
  text-align: left;
}

.footer-center {
  flex: 1;
  text-align: center;
}

.brand {
  font-weight: bold;
  font-size: 1.25rem;
}
